### Linux ###
*~

### Java ###
target/
*.class

### mvn npm build ###
.npm/
.tmp/

### STS ###
.metadata/
.settings/
.classpath
.project
.springBeans
.factorypath

### Idea ###
.idea
*.iml
*.eml

### Tomcat ###
Servers/

### logs ###
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
