<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connetcion.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/clb</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">121212</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.jdbc.batch_size">50</property>
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hbm2ddl.charset_name">UTF-8</property>
        <property name="connection.pool_size">32</property>
    </session-factory>

</hibernate-configuration>
